version: "3.8"

services:
  cassandra_a:
    image: cassandra:3.11
    container_name: cassandra_a
    environment:
      - CASSANDRA_CLUSTER_NAME=TestCluster
      - CASSANDRA_NUM_TOKENS=256
      - CASSANDRA_SEEDS=cassandra_a
      - CASSANDRA_AUTO_BOOTSTRAP=false
      - JVM_OPTS=-Dcassandra.consistent.rangemovement=false

    cap_add:
      - NET_ADMIN
    expose:
      - "9042"
      - "7199"
    networks:
      cassandra_net:
        ipv4_address: 172.28.0.2

  cassandra_b:
    image: cassandra:3.11
    container_name: cassandra_b
    environment:
      - CASSANDRA_CLUSTER_NAME=TestCluster
      - CASSANDRA_NUM_TOKENS=256
      - CASSANDRA_SEEDS=cassandra_a
      - CASSANDRA_AUTO_BOOTSTRAP=false
      - JVM_OPTS=-Dcassandra.consistent.rangemovement=false

    cap_add:
      - NET_ADMIN
    expose:
      - "9042"
      - "7200"
    networks:
      cassandra_net:
        ipv4_address: 172.28.0.3

  cassandra_c:
    image: cassandra:3.11
    container_name: cassandra_c
    environment:
      - CASSANDRA_CLUSTER_NAME=TestCluster
      - CASSANDRA_NUM_TOKENS=256
      - CASSANDRA_SEEDS=cassandra_a
      - CASSANDRA_AUTO_BOOTSTRAP=false
      - JVM_OPTS=-Dcassandra.consistent.rangemovement=false

    cap_add:
      - NET_ADMIN
    expose:
      - "9042"
      - "7201"
    networks:
      cassandra_net:
        ipv4_address: 172.28.0.4

networks:
  cassandra_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
